.main-page {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-btn {
  padding: 20px;
  margin: 40px;
  border: none;
  border-radius: 30px;
  background-color: brown;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}
